body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    width: 300px;
    background-color: #a4dc8b;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(223, 229, 240);
    text-align: center;
}

.output {
    padding: 10px;
}

#display {
    width: -webkit-fill-available;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #eee;
}
